<mat-tab-group  animationDuration="0ms" (selectedTabChange)="selectedFlowEvent($event)">
  <div *ngFor="let flow of flows" style="background-color: black;">
    <mat-tab label="{{ flow }}">{{ flow }} - {{ album.album }}</mat-tab>
  </div>
</mat-tab-group>

<mat-grid-list cols="3" rowHeight="6:4">
  <div>
  <div class="images" photoGalleryGroup *ngFor="let p of base64List">
    <mat-grid-tile>
      <div class="images-item" [photoGallery]="p">
        <img style="width: 100%; height: auto;" [src]="p"/>
      </div>
    </mat-grid-tile>
  </div>
  </div>
</mat-grid-list>
