<div class="col-md-4"></div>
<!-- ComboBox  -->
<div class="col-md-4 col-xl-5 offset-xl-0 d-lg-flex align-self-center justify-content-lg-center"><select style="width: 250px;"><optgroup label="Select a picture library"><option value="12" selected=""> Library 1</option><option value="13">Library 2</option><option value="14">Library 3</option></optgroup></select></div>
<!-- ToolBar -->
<div class="col-md-4 col-xl-3 align-self-center">
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav">
          <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tooltip" data-bs-tooltip="" data-placement="bottom" href="#" title="Start organizing"><i class="fa fa-check"></i></a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tooltip" data-bs-tooltip="" data-placement="bottom" href="#" title="Rename"><i class="fa fa-edit"></i></a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tooltip" data-bs-tooltip="" data-placement="bottom" href="#" title="Open flow"><i class="fa fa-folder-open"></i></a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tooltip" data-bs-tooltip="" href="#" title="Delete"><i class="fa fa-trash"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
