<div fxLayout="column" style="background-color: #222;">
  <div fxLayout="row">
    <div fxFlex="35"></div>
    <div fxFlex="30" fxLayoutAlign="center center">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label align="end">Select collection</mat-label>
        <mat-select [(ngModel)]="selectedCollection" name="collection" (ngModelChange)="selectedCollectionEvent($event)" (click)="selectionClickEvent()">
          <mat-option *ngFor="let collection of collections" value="{{ collection }}">{{ collection }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="35">
      <mat-toolbar>
        <div matTooltip="Start organizing">
          <button mat-icon-button [disabled]="isOrganized" class="example-icon" (click)="startClickEvent()">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>
        <div>
          <button mat-icon-button class="example-icon" (click)="editAlbum()" matTooltip="Edit album" id="test-open-album-id">
            <mat-icon>create</mat-icon>
          </button>
        </div>
        <button mat-icon-button class="example-icon" (click)="openInExplorerEvent()" matTooltip="{{ explorerTooltip }}">
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" (click)="deleteAlbum()" matTooltip="{{ explorerTooltip }}">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-toolbar>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
