<div fxLayout="column" fxFlex="100" fxFlexFill>
  <div fxLayout="row" fxFlex="6" fxFlexFill>
    <div fxFlex="100">
      <app-toolbar></app-toolbar>
    </div>
  </div>
  <div fxLayout="row" fxFlex="94" fxFlexFill>
    <!-- Left menu -->
    <div fxFlex="15" class="sides" style="padding-top: 68px; padding-right: 0.5%; padding-left: 0.5%;">
      <app-menu></app-menu>
    </div>
    <!-- Picture display -->
    <div fxFlex="85" style="overflow-y: auto;" class="sides">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
