<div fxLayout="column" fxFlex="100" style="background-color: pink;" fxFlexFill>
  <div fxLayout="row" fxFlex="6" fxFlexFill>
    <div fxFlex="100">
      <app-toolbar></app-toolbar>
    </div>
  </div>
  <div fxLayout="row" fxFlex="94" fxFlexFill>
    <!-- Left menu -->
    <div fxFlex="15" style="background-color: red;">
      <app-menu></app-menu>
    </div>
    <!-- Main window-->
    <div fxFlex="70" style="background-color: burlywood;">
      <router-outlet></router-outlet>
    </div>

    
    <!-- Album selector-->
    <div fxFlex="15" style="background-color: darkgoldenrod;">
      <app-shoot-selector></app-shoot-selector>
    </div>
  </div>
</div>
  